.custom-field {
  display: flex;
  align-items: center;
  gap: 4px;

  .separator {
    margin: 0 4px;
    color: var(--sys-tertiary); // Custom color for separator
  }

  input {
    max-width: 31%; // Adjust to keep input fields compact
  }

  ::ng-deep .mat-form-field-outline {
    border-width: 1px;
  }
}
