@use "@angular/material" as mat;
@use "./app/themes/m3-theme";

@include mat.core();

$angular-material-documentation-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  // @include mat.all-component-themes($angular-material-documentation-theme);
  // @include mat.system-level-colors($angular-material-documentation-theme);
  // @include mat.system-level-typography($angular-material-documentation-theme);

  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
  // @include mat.button-theme($angular-material-documentation-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-button {
  --mdc-filled-button-container-color: var(--sys-tertiary);
  width: 100%;
}
